body {
	background: url(imagens/fundo.png);
	font: 16px;
}
#principal {
	width: 900px;

}

#menu{
	background:#9B9494 ;
	padding: 15px;
	transform-style: preserve-3d;
} 
a{
text-decoration: none;
padding: 10px;
color: #242121;
font-family: ;
border-radius: 25px;

}
#conteudo{
	font: oblique ;
	
	font-size: 20px;
padding: 10px;
background: #CFC2BE;

}


#rodape{
	text-align: center;
}
.imagens{
	border-style: ridge;
	border-width: 5px;
	



}
