


/******************************************
Barra de navegação horizontal*/
/*ul{
	
	margin: 0;
	padding: 0;
	width: 720px;
	list-style: none;
	background:#159cb0  url(imagens/fundo-horizontal.png) repeat-x;
float: left;
}
ul li{
	
	float: left;
}

ul a {
	display: block;
		padding: 10px;
		line-height: 10 px;
text-decoration: none;
color: white;
background: url(imagens/divisor.png) repeat-y left top;
}
	a:hover{

		color: #4169E1;
		background: #87CEFA;

	}


	ul .primeiro{
		background: none;

	}

	#home #navegaçao .home a,
	#sobre #navegaçao .sobre a,
	#serviços #navegaçao .serviços a{
		color: #4169E1;
		background: #87CEFA;
	}*/


	/*Arredondamento com imagens*/
.caixa{
	width: 400px;
	background: #dedede url(imagens/fundo-arredondamento.png) repeat-y;
}
.caixa h2{
	padding: 10px 20px 0 20px;
	background: url(imagens/topo2.png) no-repeat left top;
}
.caixa p{
	padding: 0 20px;

}
.caixa .ultimo{
	background: url(imagens/baixo2.png) no-repeat left bottom;
	padding-bottom: 20px;
}
/*.caixa{
	width: 400px;
	background: #dedede url(imagens/topo.png) no-repeat left top;
}*/
/*.caixa p {
	background: url(imagens/baixo2.png) no-repeat left bottom;
	padding: 0 20px 20px 20px;
}*/
/*.caixa h2{
	padding: 10px 20px 0 20px;
}*/